#grad1 {
    height: 100px;
    background-color: #9f3ff9;
    background-image: linear-gradient(to bottom right, #88ff00);
}

h3{
    position: static;
    left: 20%;
    right: 0;
    top: 10%;
    margin: 0 auto;
    max-width: 1500px;
}

table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: skyblue;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(20, 1, 65, 0.7);
    overflow: hidden;
}

td, th{
    padding: 15px 20px;
    text-align: center;
}

th{
    background-color: #000000;
    color: #fffffffa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr{
    width: 100%;
    background-color: #aaaaaa;
    font-family: 'none',Arial, Helvetica, sans-serif;
}